<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 바꾸기 -->
<mapper namespace="jmp.spring.mapper.AttachFileMapper">

	<select id="getSeq" resultType="int">
		select seq_attach.nextval from dual
	</select>
	
	<insert id="insert">
		insert into tbl_attach values (#{attachNo}, #{uuid}, #{uploadPath}, #{fileName}, #{fileType}, sysdate)
	</insert>
	
	<select id="getList" resultType="jmp.spring.vo.AttachFileVo">
		select attachNo, uuid,uploadPath, fileName
	        , fileType as image
	        , uploadpath || uuid || '_' || fileName as savePath
	        , uploadpath || 's_' || uuid || '_' || fileName as s_savePath
		from tbl_attach
		where attachNo = #{attachNo}
	</select>
	
</mapper>